<div>
    <div class="wrap list-users">
        <h1><i class="fas fa-users-cog"></i> Manage users</h1>
        <div class="action-btn">
            <button class="menu-item" id="active"><i class="fas fa-user-check"></i> active</button>
            <button class="menu-item" id="blocked"><i class="fas fa-user-slash"></i> blocked</button>
            <button class="menu-item current" id="all"><i class="fas fa-users"></i> all</button>
        </div>
        {{#.}}
            {{#isActive}}
            <div class="one on">
                <a href="" class="name" userId="{{id}}">{{username}}</a>
                <button class="action" id="block" userId="{{id}}" ><i class="fas fa-toggle-on"></i></button>
            </div>
            {{/isActive}}
            {{^isActive}}
            <div class="one off">
                <a href="" class="name" userId="{{id}}">{{username}}</a>
                <button class="action" id="enable" userId="{{id}}"><i class="fas fa-toggle-off"></i></button>
            </div>
            {{/isActive}}

        {{/.}}
    </div>
</div>