<div class="wrap middle">
    <h1>Change password</h1>
    <form action="" class="regular narrow">
        <label for="current-password">Current password</label>
        <input type="password" id="current-password">
        <label for="new-password">new Password</label>
        <input type="password" id="new-password">
        <label for="repeat-new-password">Repeat new password</label>
        <input type="password" id="repeat-new-password">
        <button type="submit" class="menu-item" id="change-password-btn"><i class="fas fa-angle-double-right"></i>
            Change
        </button>
        <div class="errors"></div>
    </form>
</div>