<div>
    <div class="wrap extension-details">
        <div class="loading-block"><i class="fas fa-circle-notch fa-spin"></i><div></div></div>
        <div class="image">
            {{#imageLocation}}
            <div style="background-image: url({{imageLocation}})"></div>
            {{/imageLocation}}
            {{^imageLocation}}
            <div style="background-image: url(../img/icons/internet.png)"></div>
            {{/imageLocation}}
            {{#fileLocation}}
            <a href="{{fileLocation}}" class="menu-item" target="_blank"><i class="fas fa-download"></i> download</a>
            {{/fileLocation}}
            {{^fileLocation}}
            <span class="menu-item"><i class="fas fa-ban"></i> no file provided</span>
            {{/fileLocation}}
            <a class="menu-item user-link" userId="{{ownerId}}"><i class="fas fa-user"></i> {{ownerName}}</a>
            {{#gitHubLink}}
            <a href="{{gitHubLink}}" target="_blank" class="menu-item"><i class="fab fa-github"></i> GitHub</a>
            {{/gitHubLink}}
            {{^gitHubLink}}
            <span href="{{gitHubLink}}" target="_blank" class="menu-item"><i class="fas fa-ban"></i> no GitHub link</span>
            {{/gitHubLink}}
        </div>
        <div class="details">
            {{#isAdmin}}
            <div class="action-btn">
                <span id="pending-state">
                    {{#pending}}
                    <button class="menu-item" id="change-published-state" extensionId="{{id}}" setState="publish"><i class="fas fa-eye"></i> Publish
                    </button>
                    {{/pending}}
                    {{^pending}}
                    <button class="menu-item" id="change-published-state" extensionId="{{id}}" setState="unpublish"><i class="fas fa-eye-slash"></i>
                        Unpublish
                    </button>
                    {{/pending}}
                </span>
                <button class="menu-item" id="edit" extensionId="{{id}}"><i class="fas fa-pencil-alt"></i> Edit</button>
                <button class="menu-item" id="delete" extensionId="{{id}}"><i class="fas fa-trash-alt"></i> Delete
                </button>
                <button class="menu-item" id="refresh-github" extensionId="{{id}}"><i class="fas fa-sync-alt"></i>
                    GitHub
                </button>
                <span id="featured-state">
                    {{^featured}}
                    <button class="menu-item" id="change-featured-state" extensionId="{{id}}" setState="feature"><i class="fas fa-crown"></i> Feature</button>
                    {{/featured}}
                    {{#featured}}
                    <button class="menu-item" id="change-featured-state" extensionId="{{id}}" setState="unfeature"><i class="fas fa-crown"></i> Unfeature</button>
                    {{/featured}}
                </span>
            </div>
            {{/isAdmin}}
            {{^isAdmin}}
            {{#isOwn}}
            <div class="action-btn">
                <button class="menu-item"><i class="fas fa-pencil-alt"></i> Edit</button>
                <button class="menu-item"><i class="fas fa-trash-alt"></i> Delete</button>
            </div>
            {{/isOwn}}
            {{/isAdmin}}
            <h1>{{name}}</h1>
            <p>{{{description}}}</p>
            <div class="tags">
                {{#tags}}
                <a tagName="{{.}}">{{.}}</a>
                {{/tags}}
            </div>
        </div>
        <div class="info stats">
            <h2><i class="fas fa-arrow-circle-up"></i> Upload date</h2>
            <span>{{uploadDate}}</span>
            <h2><i class="fas fa-user"></i> Developer</h2>
            <span><a class="user-link" userId="{{ownerId}}">{{ownerName}}</a></span>
            <h2><i class="fas fa-check-circle"></i> Version </h2>
            <span>{{version}}</span>
            <h2><i class="fas fa-arrow-circle-down"></i> Downloads</h2>
            <span>{{timesDownloaded}}</span>
        </div>
        <div class="info github">
            <h2><i class="fab fa-github"></i> Last commit</h2>
            <span>{{lastCommit}}</span>
            <h2><i class="fab fa-github"></i> Open issues</h2>
            <span>{{openIssues}}</span>
            <h2><i class="fab fa-github"></i> Pull requests</h2>
            <span>{{pullRequests}}</span>
        </div>
    </div>
</div>