<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>
<h1>Home Page</h1>

<p>Hello to the home page!</p>

<p>
    User:<span sec:authentication="name" />
    <br />
    Role(s):<span sec:authentication="principal.authorities" />
</p>

<p sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin}">Admin Portal</a>
</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>
