<h1><i class="fas fa-star"></i> New</h1>
<div>
    {{#extensions}}
    <div class="one" extensionId="{{id}}">
        {{#imageLocation}}
        <div class="image" style="background-image: url({{imageLocation}})"></div>
        {{/imageLocation}}
        {{^imageLocation}}
        <div class="image" style="background-image: url(../img/icons/internet.png)"></div>
        {{/imageLocation}}
        <h3>{{name}}</h3>
        <span><i class="fas fa-download"></i> {{timesDownloaded}}</span>
        <span><i class="fas fa-star"></i> {{rating}}</span>
    </div>
    {{/extensions}}
</div>