<div>
    <div class="wrap middle">
        <h1>Sign in</h1>
        <form action="" class="regular narrow">
            <label for="username">Username</label>
            <input type="text" id="username">
            <label for="password">Password</label>
            <input type="password" id="password">
            <button type="submit" class="menu-item" id="login-btn"><i class="fas fa-angle-double-right"></i> Sign in
            </button>
            <div class="errors"></div>
        </form>
    </div>
</div>