<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>Login Page</h1>

<i th:if="${param.error}" class="error">Wrong username or password</i>

<i th:if="${param.logout}">You have been logged out.</i>

<form th:action="@{/authenticateUser}" method="post">
    <p>
        User name: <input type="text" id="username" name="username" />
    </p>
    <p>
        Password: <input type="password" id="password" name="password" />
    </p>
    <input type="submit" value="Login" />
</form>
</body>
</html>
