<div>
    <div class="wrap hw-extensions">
        <h1>
            <i class="fas fa-lock"></i> Extensions awaiting publishing
        </h1>
        <div>
            {{#.}}
            <div class="one" extensionId={{id}}>
                {{#imageLocation}}
                <div class="image" style="background-image: url({{imageLocation}})"></div>
                {{/imageLocation}}
                {{^imageLocation}}
                <div class="image" style="background-image: url(../img/icons/internet.png)"></div>
                {{/imageLocation}}
                <h3>{{name}}</h3>
                <span><i class="fas fa-download"></i> {{timesDownloaded}}</span>
            </div>
            {{/.}}
        </div>
    </div>
</div>
