<div>
    <div class="wrap hw-extensions">

        {{#isAdmin}}
        <div class="action-btn heading-btn">
            <button class="menu-item"><i class="fas fa-user-slash"></i> Disable user</button>
        </div>
        <div class="action-btn heading-btn">
            <button class="menu-item current"><i class="fas fa-user-check"></i> Enable user</button>
        </div>
        {{/isAdmin}}

        <h1><i class="fas fa-user"></i> {{username}} has {{totalExtensions}} extension</h1>

        <div>
            {{#extensions}}
            <div class="one" extensionId="{{id}}">
                <div class="image" style="background-image: url({{imageLocation}})">

                </div>
                <h3>{{name}}</h3>
                <span><i class="fas fa-download"></i> {{timesDownloaded}}</span>
            </div>
            {{/extensions}}
        </div>
    </div>
</div>