<div class="wrap middle">
    <h1>Add a new extension</h1>
    <form action="" class="regular" id="submit-form">
        <label for="name">Name</label>
        <input type="text" id="name">
        <label for="version">Version</label>
        <input type="text" id="version">
        <label for="name">Description</label>
        <textarea type="text" id="description"></textarea>
        <label for="github">Link to GitHub repository</label>
        <input type="text" id="github">
        <label for="tags">Comma separated tags</label>
        <input type="text" id="tags">
        <label for="file" class="as-field">
            <div class="menu-item"><i class="fas fa-cloud-upload-alt"></i> File: <span>select file</span>
            </div>
        </label>
        <input type="file" id="file" class="submit-file">
        <label for="image" class="as-field">
            <div class="menu-item"><i class="fas fa-image"></i> Icon: <span>select image</span></div>
        </label>
        <input type="file" id="image" class="submit-file">
        <button type="submit" class="menu-item" id="submit-btn"><i class="fas fa-angle-double-right"></i> submit for
            review
        </button>

    </form>
</div>