<h1>Add an Extension</h1>

<form action="">
    <label for="name">name</label>
    <input type="text" id="name" autocomplete="off">
    <label for="version">version</label>
    <input type="text" id="version" autocomplete="off">
    <label for="description">description</label>
    <input type="text" id="description" autocomplete="off">
    <label for="github">github</label>
    <input type="url" id="github" autocomplete="off">
    <label for="tags">tags</label>
    <input type="text" id="tags" autocomplete="off">
    <button type="submit" id="submit">Submit extension</button>
</form>