<h1>Add an Extension</h1>

<form action="">
    <label for="name">Title</label>
    <input type="text" id="name" autocomplete="off">
    <label for="version">Title</label>
    <input type="text" id="version" autocomplete="off">
    <label for="description">Title</label>
    <input type="url" id="description" autocomplete="off">
    <label for="github">Title</label>
    <input type="text" id="github" autocomplete="off">
    <label for="tags">Title</label>
    <input type="text" id="tags" autocomplete="off">
    <button type="submit">Submit extension</button>
</form>