<div class="wrap hw-extensions">
    <div class="half">
        <h1><i class="fas fa-fire"></i> Popular</h1>
        <div>
            <div class="one">
                <div class="image" style="background-image: url(img/icons/backpack.png)">

                </div>
                <h3>Tile Extension</h3>
                <span><i class="fas fa-download"></i> 166</span>
            </div>
            <div class="one">
                <div class="image" style="background-image: url(img/icons/open-book.png)">

                </div>
                <h3>Tile Extension</h3>
                <span><i class="fas fa-download"></i> 166</span>
            </div>
        </div>
    </div>